<!DOCTYPE html>
<html>
<head>
    <title>HR-VITON</title>
    <style>
        .patterns-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px; /* Adjust as needed */
        }

        .pattern {
            width: 200px; /* Adjust width as needed */
            border: 1px solid #ccc;
            padding: 10px;
            text-align: center;
        }

        /* Additional CSS styling as needed */
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    
</head>
<body>
    <div class="patterns-container">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form id="uploadForm_person" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="person_images" class="form-label">Select Person Images:</label>
                            <input type="file" class="form-control" id="person_images" webkitdirectory directory multiple>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-warning btn-lg" type="button" onclick="uploadImage()">Upload Person</button>
                        </div>
                    </form>
                    <div class="mb-3" id="message_p"></div>
                </div>
                <div class="col-md-6">
                    <form id="uploadForm_cloth" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="cloth_images" class="form-label">Select Cloth Images:</label>
                            <input type="file" class="form-control" id="cloth_images" webkitdirectory directory multiple>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-warning btn-lg" type="button" onclick="uploadCloth()">Upload Cloth</button>
                        </div>
                    </form>
                    <div class="mb-3" id="message_c"></div>
                    <div class="d-grid mb-3">
                        <button class="btn btn-danger btn-lg" id="startTrialButton" style="display: none;" type="button" onclick="Refresh()">Click here after you analysis the results to SAVE it</button>
                    </div>
                    <!-- <div class="d-grid mb-3">
                        <button class="btn btn-danger btn-lg" id="startTrialButton_stable" style="display: none;" type="button" onclick="Refresh_stable()">Save STABLE VITON Results</button>
                    </div> -->
                </div>
            </div>
        </div>
        

        <!-- <div class="pattern">
            <button class="btn btn-warning" onclick="loadContent(8)">Automate pipeline</button>
            <div id="content8"></div>
            <img id="image8" style="display: none;" src="" alt="Image 8">
        </div> -->

    </div>
    

    <div class="container">
<div class="container">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="select_poses()">On-need: Filter image by poses</button>
                <div id="content1"></div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(1)">Step (1): Person Parsing Segmentation</button>
                <div id="content1"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(4)">Step (2): Person Pose & Keypoints</button>
                <div id="content4"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(2)">Step (3): Parsing Segmentation Agnostic </button>
                <div id="content2"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(3)">Step (4): Person Agnostic</button>
                <div id="content3"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(5)">Step (5): Getting Densepose</button>
                <div id="content5"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(6)">Step (6): Cloth Binary Masking</button>
                <div id="content6"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-primary btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(7)">Final Step: TRY-ON</button>
                <div id="content7"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-danger btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(8)">NEW: STABLE VITON</button>
                <div id="content8"></div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <button class="btn btn-danger btn-lg mb-3" style="width: 160px; height: 200px;" onclick="loadContent(9)">Refine: STABLE VITON</button>
                <div id="content8"></div>
            </div>
        </div>
    </div>
</div>


        
        <!-- Loading indicator section -->
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <div id="loading" style="display: none;">
                    <img src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.16.1/images/loader-large.gif" alt="Loading...">
                    <p>Request still processing, Kindly Wait...</p>
                </div>
            </div>
        </div>
    </div>
    
    

    <div class="container">
        <!-- Other content -->
    
        <!-- Button spanning two columns -->
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <button class="btn btn-success btn-lg col-md-6" onclick="showResults()">Show Results</button>
            </div>
        </div>
        <!-- Button spanning two columns -->
        <div class="row">
            <div class="col-md-12 text-center mt-3">
                <button class="btn btn-success btn-lg col-md-6" onclick="showResults_stable()">Show Results STABLE VITON</button>
            </div>
        </div>
        <!-- Other content -->
    </div>
    
    <div class="patterns-container" id="imageContainer"></div>
    <div class="patterns-container" id="imageContainer_stable"></div>

    

    <script>
        function processResponse(buttonNumber, serverUrl) {
            document.getElementById('loading').style.display = 'block';
            fetch(serverUrl)
                .then(response => response.json())
                .then(data => {
                    document.getElementById('loading').style.display = 'none';
                    console.log('Received data:', data); 
                    document.getElementById(`content${buttonNumber}`).innerText = data.text;
                })
                .catch(error => {
                   console.error('Fetch error:', error); // Log fetch errors
                   document.getElementById('loading').style.display = 'none';
                   document.getElementById(`content${buttonNumber}`).innerText = data.text;

                });
        }

        function loadContent(buttonNumber) {
            if (buttonNumber === 8) {
                processResponse(buttonNumber, `http://62.67.51.161:5000/route_for_button_${buttonNumber}`);
            } else {
                processResponse(buttonNumber, `/route_for_button_${buttonNumber}`);
            }
            // processResponse(buttonNumber, `/route_for_button_${buttonNumber}`);
        }
        function select_poses() {
            document.getElementById('loading').style.display = 'block';
            fetch('http://62.67.51.161:5000/select_poses')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('loading').style.display = 'none';
                    console.log('Received data:', data); 
                    document.getElementById(`content${buttonNumber}`).innerText = data.text;
                })
                .catch(error => {
                   console.error('Fetch error:', error); // Log fetch errors
                   document.getElementById('loading').style.display = 'none';
                   document.getElementById(`content${buttonNumber}`).innerText = data.text;

                });
        }

        function uploadImage() {
            let formData = new FormData();
            let fileInput = document.getElementById('person_images');
            // Loop through all selected files and append each to the formData
            for (let i = 0; i < fileInput.files.length; i++) {
                formData.append('person_images', fileInput.files[i]);
            }

            fetch('/upload_person', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Display a message or perform actions upon successful upload
                document.getElementById('message_p').innerText = data.text;
            })
            .catch(error => {
                // Handle errors if the upload fails
                console.error('Error:', error);
            });
        }

        function uploadCloth() {
            let formData = new FormData();
            let fileInput = document.getElementById('cloth_images');
            for (let i = 0; i < fileInput.files.length; i++) {
                formData.append('cloth_images', fileInput.files[i]);
            }
            fetch('/upload_cloth', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Display a message or perform actions upon successful upload
                document.getElementById('message_c').innerText = data.text;
            })
            .catch(error => {
                // Handle errors if the upload fails
                console.error('Error:', error);
            });
        }
    
        function showResults() {
            fetch('/get_all_images') // Replace with the appropriate Flask route to retrieve image paths
                .then(response => response.json())
                .then(data => {
                    document.getElementById('startTrialButton').style.display = 'block';
                    // Access the image paths from the server response
                    const imagePaths = data.imagePaths; // Adjust according to the actual response structure
                    
                    const imageContainer = document.getElementById('imageContainer');
                    
                    // Loop through the image paths and create <img> elements to display images
                    imagePaths.forEach(imagePath => {
                        const img = document.createElement('img');
                        img.src = imagePath;
                        img.alt = 'Image';
                        imageContainer.appendChild(img);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }

        
        function showResults_stable() {
            fetch('/get_all_stable_images') // Replace with the appropriate Flask route to retrieve image paths
                .then(response => response.json())
                .then(data => {
                    // document.getElementById('startTrialButton_stable').style.display = 'block';
                    // Access the image paths from the server response
                    const imagePaths = data.imagePaths; // Adjust according to the actual response structure
                    
                    const imageContainer = document.getElementById('imageContainer_stable');
                    
                    // Loop through the image paths and create <img> elements to display images
                    imagePaths.forEach(imagePath => {
                        const img = document.createElement('img');
                        img.src = imagePath;
                        img.alt = 'Image';
                        imageContainer.appendChild(img);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        

        function Refresh() {
            fetch('/save_Refresh') // Replace with the appropriate Flask route to retrieve image paths
                .then(response => response.json())
                .then(data => {
                    // console.log("here")
                    // Change button color and text after the request is finished
                    const trialButton = document.getElementById('startTrialButton');
                    trialButton.classList.remove('btn-danger'); // Remove current color class
                    trialButton.classList.add('btn-success'); // Change to a different color class
                    trialButton.innerText = 'Done Saving. Will refresh automatically';
                    // setTimeout(() => {}, 3000)
                    // window.location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            Refresh_stable()
            }
        function Refresh_stable() {
            fetch('http://62.67.51.161:5000/Refresh') // Replace with the appropriate Flask route to retrieve image paths
                .then(response => response.json())
                .then(data => {
                    console.log("here")
                    // Change button color and text after the request is finished
                    // const trialButton = document.getElementById('startTrialButton_stable');
                    // trialButton.classList.remove('btn-danger'); // Remove current color class
                    // trialButton.classList.add('btn-success'); // Change to a different color class
                    // trialButton.innerText = 'Done Saving. Will Automatically Restart';
                    setTimeout(() => {}, 10000)
                    window.location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    // const trialButton = document.getElementById('startTrialButton_stable');
                    // trialButton.classList.remove('btn-danger'); // Remove current color class
                    // trialButton.classList.add('btn-success'); // Change to a different color class
                    // trialButton.innerText = 'Done Saving. Will Automatically Restart';
                    setTimeout(() => {}, 10000)
                    window.location.reload();
                });
            }

            
    </script>
</body>
</html>
